<!DOCTYPE html>
<html xmlns xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>테스트페이지입니다</title>
</head>
<body>
<h1>알림 허용을 요청하며, 토큰 정보를 브라우저에 뿌립니다. </h1>
<!-- The core Firebase JS SDK is always required and must be listed first -->

<script src="https://www.gstatic.com/firebasejs/5.9.2/firebase.js"></script>
<script src="https://www.gstatic.com/firebasejs/5.9.2/firebase-app.js"></script>
<script src="https://www.gstatic.com/firebasejs/5.9.2/firebase-messaging.js"></script>
<script src="/js/conf.js"></script>


</body>

</html>